<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
		<mapper resource="com/bruce/baseAdmin/bean/security/xml/AdminUserMapper.xml" />
		<mapper resource="com/bruce/baseAdmin/bean/security/xml/AdminRoleMapper.xml" />
		<mapper resource="com/bruce/baseAdmin/bean/security/xml/AdminUserRoleMapper.xml" />
		<mapper resource="com/bruce/baseAdmin/bean/security/xml/AdminResourceMapper.xml" />
		<mapper resource="com/bruce/baseAdmin/bean/security/xml/AdminRoleResourceMapper.xml" />
	</mappers>

</configuration>
