<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- <bean id="appFilters" class="org.springframework.security.web.FilterChainProxy"> -->
	<!-- <security:filter-chain-map path-type="ant"> -->
	<!-- <security:filter-chain -->
	<!-- filters="characterEncodingFilter" pattern="/**" /> -->
	<!-- </security:filter-chain-map> -->
	<!-- </bean> -->

	<!-- <bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter"> -->
	<!-- <property name="encoding" value="UTF-8" /> -->
	<!-- <property name="forceEncoding" value="true" /> -->
	<!-- </bean> -->

	<!-- <bean id="threadLocalCacheFilter" class="com.xiaonei.wap.framework.mvc.filter.ThreadLocalCacheFilter" 
		/> -->

</beans>