<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- <bean id="batchRunCommand" class="com.renren.mobile.mcp.api.command.batch.BatchRunCommand">
		<property name="mobileClientAppService" ref="mobileClientAppService" />
		<property name="commandLookupService" ref="commandLookupService" />
	</bean> -->
	
	<bean id="systemCheckCommand" class="com.bruce.foundation.macp.api.command.system.SystemCheckCommand">
		<property name="passportService" ref="passportService" />
	</bean>
	<bean id="testLoginCommand" class="com.bruce.foundation.macp.api.command.account.TestLoginCommand">
		<property name="passportService" ref="passportService" />
	</bean>
	
	<bean id="weiboLoginCommand" class="com.bruce.foundation.macp.api.command.account.WeiboLoginCommand">
		<property name="passportService" ref="passportService" />
	</bean>

	<!-- command map -->
	<util:map id="apiCommandMap" key-type="java.lang.String"
		value-type="com.bruce.foundation.macp.api.command.ApiCommand">
		
		<entry key="systemCheck.cmd" value-ref="systemCheckCommand" />
		<entry key="testLogin.cmd" value-ref="testLoginCommand" />
		<entry key="wbLogin.cmd" value-ref="weiboLoginCommand" />
		<!-- apis for test -->
		<entry key="test.cmd" value-ref="testCommand" />

	</util:map>

	<!-- ticket is un necessary -->
	<util:set id="ticketUnnecessaryApiSet" value-type="java.lang.String">
		<value>systemCheck.cmd</value>
		<value>checkUpdate.cmd</value>
		<value>testLogin.cmd</value>
		<value>wbLogin.cmd</value>
		<value>test.cmd</value>

		<!-- batch apis -->
		<!-- <value>batch.batchRun</value>

		<value>sys.statLog</value>

		<value>account.x2Login</value>

		<value>feed.getAdFeeds</value>

		<value>search.searchAdUsers</value>
 -->
	</util:set>
	
	<!-- 测试command -->
	<bean id="testCommand" class="com.bruce.foundation.macp.api.command.test.TestCommand">
		<property name="passportService" ref="passportService"></property>
	</bean>

</beans>